<mat-drawer-container [autosize]="true" class="min-h-full mx-auto border-x">

    <mat-drawer mode="side" opened class="p-6">
        <app-filters  (showCategory)="onShowCategory($event)"></app-filters> 
    </mat-drawer>

    <mat-drawer-content class="p-6">
        <app-products-header (columsCountChange)="columsCountChange($event)"></app-products-header>
        <!-- {{cols}}
        {{category}} -->

        <!-- <mat-grid-list>
            <mat-grid-tile>
                <app-product-box [FullWidthMode]="cols === 1"></app-product-box> 
            </mat-grid-tile>
        </mat-grid-list> -->
       

        <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">

            <mat-grid-tile>
                <app-product-box></app-product-box>
            </mat-grid-tile>
            

        </mat-grid-list>

    </mat-drawer-content>


</mat-drawer-container>